<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <link href="../css/word-box.css" rel="stylesheet">
    <style>
        .word-box {
            width: 400px;
            height: 300px;
            background-color: dodgerblue;
            position: absolute;
            top: 20%;
            left: 30%;
        }
    </style>
</head>

<body>
    <div class="word-box">
        <audio controls="controls" src="http://dict.youdao.com/dictvoice?audio=voice&type=1">
            
        </audio>
        <a href="#">school</a>
        <span>uk:"skuːl"</span>
        <span>us: "'mɛəri"</span>
        <span>朗读</span>
        <p>n.学校，学院； 学业； 学派； 学科 vt.训练，锻炼； 教育，教导； 约束； 给…上学</p>
    </div>
</body>

</html>