<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/iconfont.css">
    <link href="../css/word-box.css" rel="stylesheet">
</head>

<body>
    <div class="word-box">
        <audio controls="controls" src="http://dict.youdao.com/dictvoice?audio=voice&type=1"></audio>
        <div class="word-bar"><a class="wordContent" href="#">school</a></div>
        <div class="pronunciation">
            <ul>
                <li>
                    <i class="iconfont icon-iconfontsvg45 speaker-icon"></i>
                    <span>英音[<b>skuːl</b>]</span>
                </li>
                <li>
                    <i class="iconfont icon-speaker07 speaker-icon"></i>
                    <span>美音[<b>skuːl</b>]</span>
                </li>
            </ul>
        </div>
        <div class="cn-definition">
            <p>n.学校，学院； 学业； 学派； 学科 vt.训练，锻炼； 教育，教导； 约束； 给…上学</p>
        </div>
    </div>
</body>

</html>